<div class="container01">
    <div class="container02">
        <div class="container04">
            <form action="form" class="form">
                <div class="input-wrapper">
                    <input type="text" name="id" id="id1" placeholder="NOME">
                    <input type="text" name="id" id="id2" placeholder="TAMANHO">
                </div>
                <div class="input-wrapper">
                    <input type="text" name="id" id="id3"placeholder="VALOR" >
                    <input type="text" name="id" id="id4" placeholder="ID">
                </div>
            </form>
            <img src="..//../assets/img/adicionar.png" alt="img" class="img">
        </div>
    </div>
    <div class="container03">
    </div>
</div>