<div class="container01">
    <div class="container02">
        <h1>ESTO</h1>
        <div class="container025">
            <div class="a1">
                <a href="/home"><img src="../../assets/img/casa.png" alt="" class="casa">
                    <p class="a01">HOME</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/seta-do-carrinho-para-baixo.png" alt="" class="casa">
                    <p class="a01">COND</p>
                </a>
            </div>
            <div class="a1">
                <a href="/estoque"><img src="../../assets/img/caixa.png" alt="" class="casa">
                    <p class="a01">ESTO</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/do-utilizador.png" alt="" class="casa">
                    <p class="a01">CLIE</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/lado-do-caminhao.png" alt="" class="casa">
                    <p class="a01">FORN</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/saco-de-dolar.png" alt="" class="casa">
                    <p class="a01">FATU</p>
                </a>

            </div>
        </div>
    </div>
    <div class="container03">
        <button type="submit" id="openModalButton" (click)="abrirModal()">
            <img src="../../assets/img/adicionar.png" alt="adicionar">
        </button>
    </div>
</div>

<div id="modal" class="modal" *ngIf="modalVisible">
    <div class="modal-content">
      <span class="close" id="closeModalButton" (click)="fecharModal()">
        <img src="../../assets/img/adicionar.png" alt="Fechar">
      </span>
      <div class="input-container">
        <input type="text" class="input-field">
        <input type="text" class="input-field">
      </div>
      <div class="input-container">
        <input type="text" class="input-field">
        <input type="text" class="input-field">
      </div>
      <button class="buttonOKmodal">OK</button>
    </div>
  </div>
  