<div class="container01">
    <div class="container02">
      <h1>CONDI</h1>
      <div class="container025">
        <div class="a1">
          <a href="/home"><img src="../../assets/img/casa.png" alt="" class="casa">
            <p class="a01">HOME</p>
          </a>
        </div>
        <div class="a1">
          <a href="/condi"><img src="../../assets/img/seta-do-carrinho-para-baixo.png" alt="" class="casa">
            <p class="a01">COND</p>
          </a>
        </div>
        <div class="a1">
          <a href="/store"><img src="../../assets/img/caixa.png" alt="" class="casa">
            <p class="a01">ESTO</p>
          </a>
        </div>
        <div class="a1">
          <a href="/customer "><img src="../../assets/img/do-utilizador.png" alt="" class="casa">
            <p class="a01">CLIE</p>
          </a>
        </div>
        <div class="a1">
          <a href="/home"><img src="../../assets/img/lado-do-caminhao.png" alt="" class="casa">
            <p class="a01">FORN</p>
          </a>
        </div>
        <div class="a1">
          <a href="/invoicing"><img src="../../assets/img/saco-de-dolar.png" alt="" class="casa">
            <p class="a01">FATU</p>
          </a>
        </div>
      </div>
    </div>
  
    <div class="container03" style="width: 100%;">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of summedData">
            <td>{{ item.name }}</td>
            <td>{{ item.totalPrice }}</td>
            <td>{{ getDataByNome(item.name) }}</td>
            <td>
              <button (click)="openModal(item.name)">Abrir Modal</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
  </div>

  <div class="modal" id="myModal" *ngIf="modalName">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Dados para: {{ modalName }}</h2>
      <table *ngIf="getItemsByNome(modalName).length > 0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItemsByNome(modalName); let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.date }}</td>
            <td>
              <button (click)="removeItem(i)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="getItemsByNome(modalName).length === 0">Nenhum dado disponível para este nome.</p>
    </div>
  </div>