<div class="container01">
    <div class="container02">
      <h1>ESTO</h1>
      <div class="container025">
        <div class="a1">
          <a href="/home"><img src="../../assets/img/casa.png" alt="" class="casa">
            <p class="a01">HOME</p>
          </a>
        </div>
        <div class="a1">
          <a href="/condi"><img src="../../assets/img/seta-do-carrinho-para-baixo.png" alt="" class="casa">
            <p class="a01">COND</p>
          </a>
        </div>
        <div class="a1">
          <a href="/store"><img src="../../assets/img/caixa.png" alt="" class="casa">
            <p class="a01">ESTO</p>
          </a>
        </div>
        <div class="a1">
          <a href="/customer "><img src="../../assets/img/do-utilizador.png" alt="" class="casa">
            <p class="a01">CLIE</p>
          </a>
        </div>
        <div class="a1">
          <a href="/home"><img src="../../assets/img/lado-do-caminhao.png" alt="" class="casa">
            <p class="a01">FORN</p>
          </a>
        </div>
        <div class="a1">
          <a href="/invoicing"><img src="../../assets/img/saco-de-dolar.png" alt="" class="casa">
            <p class="a01">FATU</p>
          </a>
        </div>
      </div>
    </div>
  
    <div class="container03" style="width: 100%;">
      <!-- <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tamanho</th>
            <th>Quantidade</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of storeData">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>R$ {{ item.price }}</td>
            <td>{{ item.size }}</td>
            <td>{{ itemQuantities[item.id] || 0 }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>