@font-face {
  font-family: RADIO;
  src: url(../../assets/RADIO.otf);
  font-family: LEAGUE;
  src: url(../../assets/LeagueSpartan-Bold.otf);
  font-family: OSWALD;
  src: url(../../assets/Oswald-VariableFont_wght.ttf);
  /* font-family: SIMP;
  src: url(../../assets/SimplyMono-Bold.ttf);
  font-family: MONSTER;
  src: url(../../assets/Montserrat-Bold.otf); */
}

.container01 {
  display: flex;
  background: #CDCDCD;
  height: 100vh;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.container02 {
  width: 228px;
  height: 1080px;
  flex-shrink: 0;
  background: #C9B133;
}

.container02 h1 {
  color: #FFF;
  font-family: OSWALD;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-right: 10px;
  padding-top: 10px;
}

.container025 {
  width: 228px;
  height: 1080px;
  flex-shrink: 0;
  margin-top: 120px;
}

.container025 a {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
}

.container025 p {
  color: #FFF;
  font-family: OSWALD;
  font-size: 25px;
  padding-right: 10px;

}

.a1 {
  margin-left: 40px;
  display: flex;
  margin-bottom: -10px;
}

.a01 {
  margin-left: 10px;
}

.casa {
  margin-top: 30px;
  width: 14%;
  height: 100%;
  margin-left: 15px;
  filter: invert(100%);
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.container03 {
  margin-top: 50px;
  flex: 1;
  display: block;

}

/*  TAMANHO DA BUSCA */
.container03 form {
  display: flex;
  background: #C9B133;
  border-radius: 25px;
  padding: 5px 10px;
  height: 35px;
  width: 50%;
  margin-left: 350px;

}

/* INPUT DA BUSCA */
.container03 input[type="text"] {
  flex: 1;
  color: #FFF;
  background: #C9B133;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

/* BORDA DO BOTAO DA IMAGEM */
.container03 button {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* TAMANHO DA IMAGEM */
.container03 button img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

/* ///////////////////////////////////////////////////////////////////////////////// */
.container04 {
  margin-top: 30px;

  /* background: #c0bfb7; */
  justify-content: center;
  display: flex;
}

/*////////////////////////////////////////*/
/* Estilo para a tabela */
table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para a célula do cabeçalho da coluna ID */
th.col-id {
  width: 10%;
  color: white;
  background: #C9B133;
  text-align: left;
  padding: 8px;
  border: 1px solid #ab963b;
}

/* Estilo para a célula do cabeçalho da coluna Nome */
th.col-nome {
  width: 50%;
  color: white;
  background: #C9B133;
  text-align: left;
  padding: 8px;
  border: 1px solid #ab963b;
}

/* Estilo para a célula do cabeçalho da coluna Preço */
th.col-preco {
  width: 20%;
  color: white;
  background: #C9B133;
  text-align: left;
  padding: 8px;
  border: 1px solid #ab963b;
}

/* Estilo para a célula do cabeçalho da coluna Tamanho */
th.col-tamanho {
  width: 30%;
  color: white;
  background: #C9B133;
  text-align: left;
  padding: 8px;
  border: 1px solid #ab963b;
}

/* Estilo para as células dos dados (todas com largura de 25%) */
td {

  padding: 8px;
  border: 1px solid #ab963b;
}

/* Estilo para linhas ímpares */
tr:nth-child(odd) {
  background-color: #dcdcdc;
}

/* Estilo para linhas pares */
tr:nth-child(even) {
  background-color: #cccccc;
}

/* Estilo para linhas ímpares */
tr:nth-child(odd) {
  background-color: #dcdcdc;
}

/* Estilo para linhas pares */
tr:nth-child(even) {
  background-color: #cccccc;
}






/* Estilo para os botões */
button.td {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.td.color {
  background-color: #C9B133;
}

button.td.green {
  background-color: #28a745;
}

button.td:hover {
  background-color: #0056b3;
}






/* Estilo para o botão "X" */
button.remove-button {
  padding: 5px 10px;
  background-color: #dc3545; 
  color: #fff; 
  border: none; 
  border-radius: 3px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

/* Estilo quando o mouse passa por cima do botão "X" */
button.remove-button:hover {
  background-color: #c82333;
}



.modal {
  padding-left: 110px;
  position: absolute; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do modal */
.modal-content {
  background-color: white;
  width: 80%;
  padding: 50px;
  height: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  position: relative;
}

/* Estilo do botão "Fechar" */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.close:hover {
  color: #000; 
}

.campo-com-margem {
  margin-top: 100px;
}

  label {
    display: block;
  }

  input[type="number"], select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .btnModal{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
  }

  button:hover {
    background-color: #0056b3;
  }

.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px; 
  cursor: pointer; 
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 80px; 
  height: 80px; 
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.custom-checkbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px; 
  height: 90px; 
  pointer-events: none; /* Garante que o clique vá para o checkbox nativo */
}

  /* Torna o checkbox nativo visível quando o mouse está sobre ele */
.custom-checkbox:hover input[type="checkbox"] {
  /* opacity: 1;  */
}

/* Adicione margem entre as imagens*/
.custom-checkbox + .custom-checkbox {
  margin-left: 120px;
}

