<div class="container01">
    <div class="container02">
        <h1>HOME</h1>
        <div class="container025">
            <div class="a1">
                <a href="/home"><img src="../../assets/img/casa.png" alt="" class="casa">
                    <p class="a01">HOME</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/seta-do-carrinho-para-baixo.png" alt="" class="casa">
                    <p class="a01">COND</p>
                </a>
            </div>
            <div class="a1">
                <a href="/store"><img src="../../assets/img/caixa.png" alt="" class="casa">
                    <p class="a01">ESTO</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/do-utilizador.png" alt="" class="casa">
                    <p class="a01">CLIE</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/lado-do-caminhao.png" alt="" class="casa">
                    <p class="a01">FORN</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/saco-de-dolar.png" alt="" class="casa">
                    <p class="a01">FATU</p>
                </a>

            </div>
        </div>
    </div>
    <div class="container03">
        <form (submit)="onSubmit()">
          <input type="text" #inputField> <!-- Adicione #inputField aqui -->
          <button type="submit">
            <img src="../../assets/img/busca.png" alt="Buscar">
          </button>
        </form>
        <div class="container04">
          <p class="p-grid">12312 - iwjeiawjei jea eawiejia - 160</p>
        </div>
      </div>
</div>