<div class="container01">
    <div class="container02">
        <h1>HOME</h1>
        <div class="container025">
            <div class="a1">
                <a href="/home"><img src="../../assets/img/casa.png" alt="" class="casa">
                    <p class="a01">HOME</p>
                </a>
            </div>
            <div class="a1">
                <a href="/condi"><img src="../../assets/img/seta-do-carrinho-para-baixo.png" alt="" class="casa">
                    <p class="a01">COND</p>
                </a>
            </div>
            <div class="a1">
                <a href="/store"><img src="../../assets/img/caixa.png" alt="" class="casa">
                    <p class="a01">ESTO</p>
                </a>
            </div>
            <div class="a1">
                <a href="/customer"><img src="../../assets/img/do-utilizador.png" alt="" class="casa">
                    <p class="a01">CLIE</p>
                </a>
            </div>
            <div class="a1">
                <a href="/home"><img src="../../assets/img/lado-do-caminhao.png" alt="" class="casa">
                    <p class="a01">FORN</p>
                </a>
            </div>
            <div class="a1">
                <a href="/invoicing"><img src="../../assets/img/saco-de-dolar.png" alt="" class="casa">
                    <p class="a01">FATU</p>
                </a>

            </div>
        </div>
    </div>
    <div class="container03">
        <form autocomplete="off">
            <input type="text" [(ngModel)]="searchId" name="searchId" required>
            <button type="button" (click)="onSubmit()">
                <img src="../../assets/img/busca.png" alt="Buscar">
            </button>
        </form>


        <div class="container04">
            <table>
                <thead>
                    <tr>
                        <th class="col-id">ID</th>
                        <th class="col-nome">Nome</th>
                        <th class="col-preco">Preço</th>
                        <th class="col-tamanho">Tamanho</th>
                        <th class="col-tamanho"> X</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of searchResults">
                        <td>{{ result.id }}</td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.price }}</td>
                        <td>{{ result.size }}</td>
                        <td><button class="remove-button" (click)="removeRow(result.id)">X</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="searchResults.length > 0">
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td>{{ totalPrice | number:'1.1-1' }}</td>
                        <td><button class="td green" (click)="abrirModal()">Finalizar</button></td>
                      </tr>                
                </tfoot>
            </table>
        </div>

    </div>

</div>
<div *ngIf="modalVisible">
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="fecharModal()">&times;</span>
            <h1>Valor Total: <strong>{{ totalPrice | number:'1.1-1' }}</strong></h1>

            <label class="checkbox-container custom-checkbox">
                <input type="checkbox" [checked]="exibirCampoDesconto" (change)="toggleDesconto()">
                <img src="../../assets/img/dinheiro2.png" alt="Custom Icon">
            </label>

            <label class="checkbox-container custom-checkbox">
                <input type="checkbox" [checked]="exibirCampoCartao" (change)="toggleCartao()">
                <img src="../../assets/img/cartao.png" alt="Custom Icon">
            </label>

            <label class="checkbox-container custom-checkbox">
                <input type="checkbox" [checked]="exibirCampoCondi" (change)="toggleCondi()">
                <img src="../../assets/img/sacola2.png" alt="Custom Icon" style="width: 80px; height: 80px;">
            </label>


            <div *ngIf="exibirCampoDesconto" class="campo-com-margem">
                <div>
                    <label for="descontoInput">Informe o desconto (%):</label>
                    <input type="number" id="descontoInput" [(ngModel)]="desconto">
                    <button class="btnModal" (click)="aplicarDesconto()" [disabled]="descontoAplicado">Aplicar
                        Desconto</button>
                </div>
                <button class="btnModalFinal" *ngIf="exibirCampoDesconto"
                    (click)="excluirRegistros()">Finalizar</button>
            </div>


            <!-- Campo de pagamento com cartão -->
            <div *ngIf="exibirCampoCartao" class="campo-com-margem">
                <label for="parcelasInput">Selecione o número de parcelas:</label>
                <select id="parcelasInput" [(ngModel)]="numeroParcelas">
                    <option value="1">1x</option>
                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="4">4x</option>
                    <option value="5">5x</option>
                </select>
                <button class="btnModal" (click)="finalizarCompraCartao()">Finalizar Compra</button>
            </div>


            <div *ngIf="exibirCampoCondi" class="campo-com-margem">
                <div>
                    <label for="descontoInput">Informe um Nome:</label>
                  <input type="text" id="condiInput" [(ngModel)]="condiInput" autocomplete="off">
                </div>
                <button class="btnModalFinal" *ngIf="exibirCampoCondi" (click)="condi()">Finalizar</button>
              </div>

        </div>
    </div>
</div>